{% extends "layout.html" %}
{% block body %}

<h2> Website Main Page </h2>


<p>
  Email authentication is a way to ensure that an email provider will be able to recognize the sender of an incoming message and fight spam and abuse. You can use authentication data to verify the source of any message that you receive.
</p>
<p>
  For example, if you receive a message from a big sender (like a financial institution, or a major email provider, like Google, Yahoo or Hotmail) that isn’t authenticated, this message is most likely forged and you should be careful about replying to it or opening any attachments.
</p>


<ul>
  <li>
    Security
  </li>

  <li>
    Deliverability
  </li>

  <li>
    Authenticate all emails for me
  </li>

  <li>
    I'll manage my own authentication
  </li>

</ul>

<center>
<img src="/static/img/anonymous.jpeg" alt="no_image" width = "20%" height="20%"/>
</center>
{% endblock %}
