{% extends "layout.html" %}
{% block body %}

<h1>Change Password</h1>

<form action="" method="POST" >

  <div class="control-group">
      <div class="controls">
        <input type="password" id="password" name="password" class="input-xlarge"
          placeholder="New Password"  >
      </div>
  </div>

  <div class="control-group">
      <div class="controls">
        <input type="password" id="Retype_password" name="Retype_password" class="input-xlarge"
          placeholder="Repeat New Password">
      </div>
  </div>

  <div class="control-group">
      <div class="controls">
        <a href="/view"><button type="submit" class="btn btn-success">Change</button></a>
      </div>
  </div>

  <div class="control-group">
      <div class="controls">
        <a href="/logged_in"><button type="submit" class="btn btn-fail">Back</button></a>
      </div>
  </div>

</form>

{% endblock %}
